* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     font-family: 'Lato', sans-serif;
     font-size: 62.5%;
}
 .pad-bot {
     padding-bottom: 75px;
}
/* --------- PARAGRAPHS --------------- */
 p {
     font-weight: 300;
     color: #666d89;
}
 .service-para {
     font-size: 3em;
     line-height: 200%;
     margin-top: 35px;
}
 .features-para-one {
     margin-top: 20px;
     font-size: 2em;
     font-weight: 400;
     line-height: 200%;
}
/* ----------- HEADINGS ----------------*/
 h1 {
     color: #666d89;
     font-size: 5em;
     font-weight: 900;
     margin-top: 70px;
}
 h2 {
     color: #666d89;
     font-size: 3em;
     font-weight: 900;
     display: inline;
}
/* ---------- ICONS -------------------*/
 .icon-big {
     font-size: 650%;
     color: #666d89;
     float: left;
     margin-right: 20px;
     border: 1px solid #666d89;
     border-radius: 50px;
     width: 60px;
}
 .first-icon {
     padding-left: 16px;
}
 .second-icon {
     padding-left: 17px;
}
 .third-icon {
     padding-left: 11px;
}
 .fourth-icon {
     padding-left: 10px;
}
 .fifth-icon {
     padding-left: 15px;
}
 .sixth-icon {
     padding-left: 11px;
}
 .social-media {
     font-size: 600%;
}
/* ------------ NAVBAR ---------------- */
 .navbar {
     height: 100px;
     background-color: #2d303a;
     margin-bottom: 0;
     border-bottom-width: 5px;
     border-bottom-color: #323746;
}
 .navbar-brand>img {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
}
 .navbar-inverse .navbar-nav>li>a {
     color: #ffffff;
     font-size: 2em;
     padding-top: 40px;
     padding-bottom: 40px;
     text-transform: uppercase;
}
 .navbar-inverse .navbar-nav>li>a:hover {
     color: #f06c64;
}
/* ------------ FEATURE ---------------*/
 .section-feature {
     background-color: #f06c64;
}
 #mobile-vertical {
     margin-top: 55px;
     margin-left: 40px;
}
 img#mobile-vertical.image-responsive {
     width: 60%;
}
 #mobile-horizontal {
     margin-top: 175px;
     margin-left: 40px;
}
 img#mobile-horizontal.image-responsive {
     width: 80%;
}
/*------------ SERVICES ---------------*/
 .section-services-about {
     background-color: #f2f2f2;
}
 .first-line {
     margin-top: 55px;
}
 .second-line {
     margin-top: 40px;
}
/* ------------- PORTFOLIO ---------------- */
 .section-portfolio {
     background-color: #2d303a;
}
 a.btn-small {
     color: #666d89;
     font-size: 2em;
     margin-top: 60px;
     margin-right: 8px;
     margin-bottom: 20px;
     text-decoration: none;
}
 .btn-small {
     display: inline-block;
     padding: 4px;
     border: 1px solid #666d89;
     border-radius: 7%;
     text-decoration: none;
}
 .btn-small:hover {
     border: 1px solid #f3f4f8;
     color: #f3f4f8;
     text-decoration: none;
}
 img.port-photo {
     width: 100%;
     padding-bottom: 30px;
     margin-left: auto;
     margin-right: auto;
}
 .upper-part {
     padding-top: 30px;
}
/* ------------ ABOUT ------------------ */
 .para-small {
     font-size: 2em;
     margin-top: 20px;
     line-height: 200%;
}
 .social-media-list {
     margin-top: 25px;
     list-style-type: none;
}
 .social-media-list li {
     display: inline;
}
 .social-media-list li a {
     color: #666d89;
}
 .s-m-icon {
     font-size: 700%;
     margin-right: 10px;
}
 .s-m-icon:hover {
     color: #f06c64;
}
/* ------------------ CONTACT --------------------- */
 .section-contact {
     background-color: #f06c64;
}
 .contact-para {
     color: #f0d8d9;
}
 .contact-form-row {
     margin-top: 50px;
}
 .contact-pad {
     padding-left: 15px;
}
 form {
     padding-right: 15px;
     padding-top: 30px;
}
 input[type=text],[type=email], textarea {
     width: 100%;
     background-color: #d6564f;
     border: 0;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     font-size: 2em;
     padding-left: 15px;
}
 textarea {
     padding-top: 10px;
     padding-bottom: 10px;
}
 input[type=text] {
     color: #ffffff;
}
 input {
     height: 38px;
}
 .contact-right {
     margin-top: 6px;
     padding-bottom: 30px;
     padding-top: 30px;
}
 .contact-adress {
     margin-top: 30px;
}
 .line-contact {
     margin-bottom: 10px;
}
 .icon-contact {
     font-size: 2em;
     color: #f0d8d9;
     margin-right: 10px;
}
 .text-icon {
     font-size: 2em;
}
 input[type=submit] {
     border-radius: 5px;
     border: 0;
     font-size: 2.5em;
     padding-left: 15px;
     padding-right: 15px;
     background-color: #d6564f;
     color: #f0d8d9;
     font-weight: 300;
     transition: background-color 500ms;
     margin-bottom: 30px;
}
 input[type=submit]:hover {
     background-color: #2d303a;
}
/* ------------- FOOTER ------------- */
 footer {
     background-color: #2d303a 
}
 .icon-footer {
     float: right;
}
 .footer-list {
     list-style: none;
}
 .footer-list li {
     float: right;
     padding-top: 20px;
     padding-bottom: 20px;
}
 .footer-list li a {
     color: #666d89;
}
 .para-footer {
     font-size: 2em;
     color: #666d89;
     padding-top: 45px;
     display: inline-block;
}
 @media only screen and (max-width : 992px) {
     #mobile-horizontal {
         display: none;
    }
     #mobile-vertical {
         margin-left: 20%;
    }
     .navbar-inverse .navbar-nav>li>a:hover {
         color: black;
    }
     .navbar-inverse .navbar-nav>li>a {
         padding-top: 10px;
         padding-bottom: 10px;
    }
}
 